* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-bottom:3em ;
  padding-left: 8%;
  padding-right: 8%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 180px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
  text-decoration: none;
}
.navbar_contant {
  color: black;
}
.header{
  max-width: 1440px;
  margin: 0 auto;
}
.header_left {
  width:30%;
}
.card__content {
  padding-left: 3em;
  margin: 0;
}
.heading__select {
  margin-left: 50px;
  color: white;
}
.select_service {
  background-color: #8e6196;
  height: 40px;
  width: 85%;
  margin-bottom: 10px;
  color: rgb(190, 176, 176);
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 13px;
  padding-left: 1em;
  padding-right: 1em;
}


.card_h2 {
  color: white;
  margin: 0;
 
}
.header{
    display: flex;
    justify-content: center;
}
.header_left {
  background-color: #80318d;
  padding-bottom: 1.5em;
 padding-top: 2em;
  border-radius: 30px;
  margin-right:-1em ;
  position: relative;
}
.buton{
    width: 50%;
    height: 35%;
    border-radius: 30px ;
    border: none;
    background-color:#0daa8d;
    color: white;
    padding: 1em;
    margin-top: 3em;
    /* align-items: center; */
    cursor: pointer;
    
}
.button__two{
    display: flex;
    justify-content: center;

}
.header__img{
height: 650px;
width: 100%;
border-radius: 30px;


}
.header_right{
  position: relative;
 
  
}
.para__head{
  position: absolute;
  top: 70%;
  left: 40px;
  color: white;

}
.header__heading{
  
  font-size: 40px;
  

}
.header__pra{
  font-size: 15px;
}
.header__overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 20px 5px;
  background: linear-gradient(rgba(0,0,0,.5),#111b1a);
}

.about_us{
  width: 100%;
  padding-top: 80px ;
}
.about_title{
  text-align: center;
  position: relative;

  
}

.about_title h1{
  font-size: 50px;

}
.About_us_span{
  width: 145px;
  height:6px;
  margin-bottom: 100px;
   margin-left: 80px;
  background: #0daa8d;
  border-radius: 30px;
  display: inline-flex;
  
}
.about_title_pra{
top: 0;
left: 0;
padding-top: 90px;
width: 100%;
margin: 0 auto;
position: absolute;  
}

 .About_us_section{
  /* width: 70%; */
   margin: auto;
   display: flex;
   width: 1130px;
   max-width: 95%;
   /* flex-wrap: wrap; */
   justify-content: space-around;
   /* align-items: center; */
   /* text-align: center; */
   margin-bottom: 50px;

}
.About__left__section {
  flex-basis: 40%;
  text-align: left;
  /* background-color:#72217e ; */
}
.About__us__pic{
  flex-basis: 50%;
  margin: auto;
}
.About__us__pic img{
  /* width: 90%; */
  /* width: 430px; */

  border-radius: 10px;
}
.About__left__section h1{
 
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100px;
  /* font-size: 40px; */
  color: #72217e;
}




.about img{
  height: auto;
  /* width: 430px; */
  border-radius: 10px;

  /* border-radius: 10vh; */
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0px auto;
  margin-top: 150px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}


.About_us__pra_two p{
  margin: 45px 0px;
 
}
.about_us_msg{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  margin-top: 80px;

}


.feacture{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1440px;
  margin: 0 auto;
}
.feacture_rows{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.feacture_col{
  flex-basis: 25%;
  text-align: center;
}
.feacture_col{
  width: 100px;

}
.feacture_col h4{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
  
}

.About_us_span_two{
  width: 180px;
  height: 7px;
  margin-bottom: 50px;
   margin-left: 215px;
  background: #0daa8d;
  border-radius: 30px;
  display: inline-flex;
  
}

.About_us_span_three{
  width: 120px;
height:6px;
margin-bottom: 100px;
 margin-left: 155px;
background: #0daa8d;
border-radius: 30px;
display: inline-flex;
}

.service{
  /* width: 100%; */
  padding: 70px;
  border-radius: 30px;
  background: #efefef ;
  /* position: relative; */
  max-width: 1440px;
  margin: 0 auto;
  }
  .service_box{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-radius: 10px;
      justify-content: space-around;
      margin: auto;
      justify-content: center;
      align-items: center;
  }
  .single_service{
      flex-basis: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
       margin-bottom: 20px;
      /* margin-bottom: 20px; */
      /* color: #fff ; */
      /* position:relative; */
  }
  
 
  /* .overlay{
      height: 100%;
      width:  100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 7px;
      cursor: pointer;
      background: linear-gradient(rgba(0,0,0,.5),#069988);
       opacity: 0;
       transition: all .5s ease-in-out;
       
  } */
  .single_service:hover{
      transform: scale(1.06);
      /* transition: 1s; */
      transition: all 1s ;
      /* box-shadow: 0 10px 20px 3px #07e7d114; */
  
  
  }
  /* .single_service:hover .overlay{
      opacity: 1;
   } */
 
   .service_dec{
      width: 95%;
      /* height: 110%; */
      border-radius: 20px;
      border: .2px solid #d6dbdb;
    
      /* position: absolute; */
      bottom: 40%;
      left: 50%;
      /* transform: translate(-50%); */
      /* opacity: 0; */
      padding: 1em;
      transition: all .5s ease-in-out;
      
   }
   .single_service:hover .service_dec{
      background-color:#631470 ;
      color: white; 
   }
   .single_service:hover .pra_trans{
  color: white;

}
  .full{
    width: 400px;
    height: 400px;
  }
 
.pra_trans{
  
  font-size: 30px;
  margin-left: 20px;
  color: #72217e;
  
}

    .lorem__service{
      font-size: 13px;
      margin-left: 20px;
      margin-top: 8px;
    }
  
 .service_dec svg{
  /* margin-right: 300px; */
  height: 70px;
   margin-top: 30px;
   margin-left: 10px;

 }
/* .contact__us__heading{
font-size: 30px;
font-weight: bold;
}
.contact__us_left{
  padding:2em ;
 width: 50%;
 flex-direction: column;
  
}
.contact__us__content{
  font-size: 15px;
}

.input{
outline: none;
padding: .5em;
margin-bottom: 1em;
}
.input__one{
  outline: none;
  height: 200px;
}
.contact__us_right{
  background-color: aqua;
  position: relative;
  width: 30%;
  display: flex;
  justify-content: end;
}
.contact__us{
  display: flex;
} */


.contact__us__container{
  height: fit-content;
  width: 100%;
max-width: 1400px;
margin: 0 auto;
  background-color: #ffff;
display: flex;
padding: 5em;

align-items: center;
}
.contact__us__container__left{
  min-height: 615px;
  width: 70%;
  padding-left: 4em;
  /* height: 60vh; */
  background-color: #d6dbdb;
}
.contact__us__container__right{
  min-height: 615px;

  width: 30%;
  /* height: 100vh; */
  background-color: #1FB295;
}
.contact__us__container__left__content__left__heading{
  font-size: 25px;
  font-weight: bold;
  /* padding-left: 2em; */
  padding-top: 3em;
  padding-bottom:  0.5em; ;
}
.contact__us__container__left__content__left__para{
  font-size: 15px;
  width: 90%;
  margin: 15px 0px;
}
.input_type{
  outline: none;
padding: .5em;
width: 300px;
margin-bottom: 1em;
border: none;
background-color: #ffff;
border-radius: 4px;

/* text-decoration: none; */

}
.input_type__two{
  outline: none;
padding: .5em;
margin-bottom: 1em;
/* height: 200px; */
padding-bottom: 120px;
width: 300px;
border-radius: 4px;
border: none;


}

.contact__us__container__left__content__left__button{
  width: 13%;

  border-radius: 30px ;
  border: none;
  background-color:#0daa8d;
  color: white;
  padding: 1em;
  /* margin-top: 3em; */
  /* align-items: center; */
  cursor: pointer;
  
}
.contact__us__container__right{
 text-align: end;
 align-items: flex-end;
 display: flex;
 /* justify-content: center; */
 padding-left: 4em ;
 padding-bottom: 2em;

}
.svg__right{
  margin: 0px 50px;
}
.card___contact{
  background-color: #701380;
  padding-left: 3em;
  padding-bottom: 4em;
  position: relative;
margin-left: -500px;
width: 35%;
}
.card__heading{
  font-size: 40px;
  font-weight: bold;
  margin-top: 1.3em;
  color: white;
  
  

}
.card__cont_svg{
  display: flex;
  margin-right: 100px;
  color: white;
  margin-top: 2.5em;
}
.gamil{
  margin-left: 15px;
}